<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>sysadmin-fr : <%= @item[:title] %></title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <div id="main">
			<h1><%= @item[:title] %></h1>
			<div id="author"><%= @item[:author] %></div>
      <%= yield %>
		</div>

    <div id="sidebar">
      <h2>La communauté</h2>
      <ul>
    	<li><a href="/articles/">Les articles</a></li>
	  </ul>
	
      <h2>Livre blanc</h2>
      <ul>
    	<li><a href="/books/gitolite/">Gitolite</a></li>
        <li><a href="/books/kerberos/">Kerberos</a></li>
        <li><a href="/books/gestion-des-baies/">Bien gérer ses baies</a></li>
      </ul>
    </div>
  </body>
</html>
